[submodule "Rushes/wordle"]
	path = Rushes/wordle
	url = https://github.com/Chahalor/wordle
[submodule "rank-3/minishell"]
	path = rank-3/minishell
	url = https://github.com/Chahalor/Minishell.git
[submodule "Rushes/Connect4"]
	path = Rushes/Connect4
	url = https://github.com/Chahalor/connect4.git
[submodule "rank-2/push_swap/visualizer"]
	path = rank-2/push_swap/visualizer
	url = https://github.com/o-reo/push_swap_visualizer.git
[submodule "rank-4/miniRT"]
	path = rank-4/miniRT
	url = https://github.com/40-to-steroide/miniRT
[submodule "Rushes/Libunit"]
	path = Rushes/Libunit
	url = https://github.com/Chahalor/Libunit
[submodule "Rushes/Retro-MFA"]
	path = Rushes/Retro-MFA
	url = https://github.com/Chahalor/Retro-MFA
[submodule "rank-5/inception"]
	path = rank-5/inception
	url = https://github.com/Chahalor/Inception.git
