[submodule "Rushes/wordle"]
	path = Rushes/wordle
	url = https://github.com/Chahalor/wordle.git
[submodule "rank-3/minishell"]
	path = rank-3/minishell
	url = https://github.com/Chahalor/Minishell.git
[submodule "Rushes/Connect4"]
	path = Rushes/Connect4
	url = https://github.com/Chahalor/connect4.git
