[submodule "https:/github.com/Nqsir/The-Norm-42/blob/a763faa4e5b0d1ba3c1e636b031b4cc760a705d3/norme.fr.pdf"]
	path = https:/github.com/Nqsir/The-Norm-42/blob/a763faa4e5b0d1ba3c1e636b031b4cc760a705d3/norme.fr.pdf
	url = git@github.com:Chahalor/40-to-home.git
